imtahanver.online, www.imtahanver.online {
    reverse_proxy main:80
}

app.imtahanver.online {
    reverse_proxy frontend:3000
}

admin.imtahanver.online {
    reverse_proxy admin:3000
}

api.imtahanver.online {
    reverse_proxy backend:80
}
